.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 1rem;
  padding: 1rem 1rem 0 1rem;
}

.info{
  display: flex;
}

.info .breakfast{
  padding: 1rem 1rem 0 1rem;
}
.info .lunch{
  padding: 1rem 1rem 0 1rem;
}

.info .diner{
  padding: 1rem 1rem 0 1rem;
}

.info .breakfast .description{
    font-weight: 500;
}

.info .lunch .description{
  font-weight: 500;
}

.info .diner .description{
  font-weight: 500;
}

.info .breakfast .btn{
  padding: 0.5rem;
  background: #80ED99;
  color: #000;
}

.info .diner .btn{
  padding: 0.5rem;
  background: #80ED99;
  color: #000;
}

.info .lunch .btn{
  padding: 0.5rem;
  background: #80ED99;
  color: #000;
}

.info img{
  max-width: 300px;
  max-height: 317px;
  border-radius: 7px;
}

@media (max-width: 708px) {
    .info{
      flex-wrap: wrap;
    }
    .info img {
     margin: 0 auto;
    }
    .content{
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
}