.icon_menu{
    display: flex;
}
.icon_menu .icon{
    display: none;
}

.menu_nav Button{
    margin: 0 0.5rem;
    color: #57392a;
}

.menu_nav Button:hover{
    background: #54b65c;
    color: #fff;
}

.nav{
    background: #80ED99;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav .title{
    color: #57392a;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
}
.nav .menu_option{
    list-style: none;
    display: flex;
}

.nav .menu_option li {
    color: #57392a;
    font-size: 1rem;
}
